/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Mobile Menu  */
@media (min-width: 991px) {
    .menu ul {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 991px) {
    .menu ul {
        display: none;
    }

    .menu ul li a {
        padding: 1rem 1rem;
        display: inline-block;
    }

    .navbar-logo .logo-bar a {
        display: block;
    }

}


/* // Medium devices (tablets, 768px and up) */
@media (max-width: 767px) {
    .header-image {
        display: none;
    }

    .jackpot {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .jackpot span {
        display: none;
    }

    .question {
        background: #f5f7fa;
        padding: 2rem 3rem;
        width: 100%;
        margin: 0 auto;
    }

    .question-header {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .footer-area .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .footer-text {
        padding-bottom: 3rem;
    }

    .feature-apps-feature .feature-items,
    .addvance-feature-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

    .feature-apps-feature .feature-item-text p {
        width: 100%;
        text-align: inherit;
    }

    .curd {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        row-gap: 3rem;
    }

    .footer-text {
        text-align: center;
    }

    .footer-stor {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .header-text {
        padding-bottom: 3rem;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) {

    .footer-nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer-nav ul li a {
        padding: 1rem 0;
    }
}